/* 1 */

p {
    color: green;
    font-size: 18px;
    font-weight: bold;
}

/* 2 */

h2 span {
    background: darkblue;
}

/* 3 */

h2.head.head2 {
    border: 2px solid green;
}

/* 4 */

div > p {
    text-align: right;
    color: orangered
}

/* 5 */

body * {
    border-radius: 5px;
}

/* 6 */

input[type="button"] {
    cursor: pointer;
    background-color: grey;
    color: firebrick;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
}

/* 7 */

h1, ol {
    background-color: aqua; 
    text-align: center;
    color: rebeccapurple;
 }

/* 8 */

 li:not(.task) {
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
}

/* 9 */

a:hover {
    background-color: yellow;
    font-weight: bold;
    cursor: pointer;
}

 /* 10 */

p::first-letter {
    background-color: palegreen;
    color: palevioletred;
}


